*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    /*margin: 0;*/
    font-family: "Ancizar Sans", sans-serif;
     color: wheat;
}

a {
    color: white;
    font-size: 0.75rem;
}

a:hover,
a:focus {
    color: blue;
}
/*

h3,
h4{
    margin: 0;
}

a,
p {
    margin: 0;
}
*/

body {
    position: relative;
    height: 100svh;
    width: 100vw;
    background: no-repeat center center fixed;
    background-size: cover;
}

body::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    padding: 0.15em 0.25em;
}

button:hover,
button:focus {
    background-color: aqua;
}

.main-grid-box {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 0.3fr 1fr 2fr 0.3fr / 1fr;
    z-index: 2;
}

.grid-item-1 {
    font-family: "Ancizar Sans", sans-serif;
    /*border: 1px solid violet;*/
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

.grid-item-1 h3 {
    margin-bottom: 0.3em;
}

.grid-item-1 > div {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-bottom: 0.25em;
}

.grid-item-1 > div > p {
    align-self: flex-start;
    line-height: 1;
    /*padding: 0.05em;*/
}

.location-form {
    display: none;
}

.location-form > button,
.grid-item-1 > div > button {
    background-color: inherit;
    border: 1px solid wheat;
    border-radius: 8px;
    cursor: pointer;
    color: wheat;
}

.grid-item-1 > div > button {
    max-width: 140px;
    align-self: flex-end;
    margin-bottom: 0.2em;
}

.location-form > button:hover,
.location-form > button:focus,
.grid-item-1 > div > button:hover,
.grid-item-1 > div > button:focus {
    background-color: rgb(245, 222, 179, 0.6);
    color: #272727;
}

.grid-item-2 {
    /*border: 1px solid violet;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-2 > time {
    color: wheat;
    font-size: 1.8rem;
    font-family: "Bitcount Grid Single", system-ui;
}

.grid-item-3 {
    /*border: 1px solid blue;*/
    font-family: "Ancizar Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-3 > form {
    display: flex;
    align-items: stretch;
    width: 90%;
    /*margin-top: -90px;*/
}

.grid-item-3 input {
    width: 90%;
    line-height: 24px;
    padding: 10px 30px;
    border: 0.5px solid grey;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.grid-item-3 button {
    color: red;
    font-family: inherit;
    min-width: 80px;
    background-color: #fff;
    height: 100%;
    border: 0.5px solid grey;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;
}

.grid-item-4 {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
}

.grid-item-4 h4 {
    margin-bottom: 0.45em;
}

.grid-item-4 > div {
    max-width: 440px;
}


.grid-item-5 {
    /*border: 1px solid yellow;*/
    display: flex;
}

.grid-item-5 > #photo-info {
    align-self: flex-end;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 0.85rem;
    margin: 0.2em;
}

.grid-item-5 > #photo-info > p {
    font-weight: 600;
}

/*UTILITITES*/

.background {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
    border-radius: 8px;
    
}

.visible {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

/*SHARED LAYOUT*/

@media (min-width: 449px) {
    .grid-item-1 > div {
        align-self: normal;
        padding-left: 2em;
    }
    
    .grid-item-2 {
        /*justify-content: flex-start;*/
        align-items: flex-start;
        padding-top: 3em;
    }

    .grid-item-4 {
        justify-content: flex-end;
        padding-bottom: 3em;
    }
}

/*TABLET GRID AND LAYOUT*/

@media (min-width: 450px) and (max-width: 819px) {
    .main-grid-box {
        grid-template: 1.5fr 1.8fr 2.2fr / repeat(2, 1fr);
    }

    .grid-item-1 {
        /*background-color: red;*/
        grid-column: 1 / span 1;
    }

    .grid-item-2 {
        /*background-color: violet;*/
        grid-column: 2 / span 1;
        justify-content: flex-end;
        padding-right: 2em;
    }

    .grid-item-2 > time {
        font-size: 2.2rem;
    }

    .grid-item-3 {
        /*background-color: blue;*/
        grid-column: 1 / span 2;
    }

    .grid-item-3 input {
        line-height: 30px;
        font-size: 1rem;
    }

    .grid-item-3 button {
        font-size: 1.1rem;
    }

    .grid-item-4 {
        /*background-color: green;*/

        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .grid-item-5 {
        /*background-color: yellow;*/

        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .grid-item-5 > #photo-info {
        font-size: 1.1rem;
    }
}

/*DESKTOP FRID AND LAYOUT*/

@media (min-width: 820px) {
    .main-grid-box {
        grid-template: 1.5fr 1.8fr 2.8fr / 1fr 1.5fr 1fr;
    }

    .grid-item-1 {
        /*background-color: red;*/

        grid-column: 1 / span 1;
    }

    .grid-item-2 {
        /*background-color: violet;*/
        /*border: 1px solid violet;*/
        grid-column: 3 / span 1;
    }

    .grid-item-2 > time {
        font-size: 2.6rem;
    }

    .grid-item-3 {
        /*background-color: blue;*/

        grid-column: 2 / span 1;
    }

    .grid-item-4 {
        /*background-color: green;*/

        grid-column: 3 / span 1;
        grid-row: 3;
     
    }

    .grid-item-5 {
        /*background-color: yellow;*/

        grid-column: 1 / span 1;
        grid-row: 3;
    }

    .grid-item-5 > #photo-info {
        font-size: 1rem;
    }
}
